# Archived & Samples folders
_project_archive/
logs/_archive/
samples/

# Character JSON
character_roles_genders.json
original_character_info.json

# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment folder
venv/
.env/
myenv/
my_multi_agent_env/

# IDE Config Files (optional)
.vscode/
.idea/

# Python specific
*.egg-info/
.eggs/
*.egg
.DS_Store

